<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>

        <!--  Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

        <!--    Bootstrap    -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

        <!-- Styles -->
        <link rel="stylesheet" href="style/doctor_sign_up_style.css"
    

    </head>
    <body>

        <%-include("navbar")-%>

        <div id="doctor-signup-form" class="centered-box">
            <form  action="https://gyne-connect.herokuapp.com/auth/user/login" method="POST" id="doctor-signup-form">
                <label for="fullName"><b>Name</b></label> <br/>
                <input type="text" placeholder="First and last name" name="fullName" required> <br/>

                <label for="email"><b>Email</b></label> <br/>
                <input type="text" placeholder="yourmail@example.com" name="email" required> <br/>

                <label for="gender"><b>Gender</b></label> <br/>
                <input type="text" placeholder="Enter your gender" name="gender"> <br/>

                <label for="location"><b>Location</b></label> <br/>
                <input type="text" placeholder="Enter your location" name="location" required> <br/>

                <label for="hospitalName"><b>Hospital</b></label> <br/>
                <input type="text" placeholder="Enter the name of the hospital you work with" name="hospitalName" required> <br/>

                <label for="phone"><b>Enter your phone number:</b></label> <br/>
                <input type="tel" placeholder="0123456789" name="phone" required> <br/>

                <label for="password"><b>Password</b></label> <br/>
                <input type="password" placeholder="********" name="password" required> <br/>

                <label for="website"><b>Plase provide a website for verification</b></label> <br/>
                <input type="text" placeholder="www.example.com" name="website"> <br/>

                <label for="remarks"><b>Additional comments:</b></label> <br/>
                <textarea id="remarks" name="remarks" rows="3" style="width:30vw">Add any additional comments to help us verify your account
                </textarea> <br/>

                <button type="submit">Sign Up as a Doctor</button>
                <a href="/doctor_login" style="margin-left: 20vw">Log In</a> <br/>
            </form>
        </div>

    </body>
</html>