<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!--  Fonts  -->

        <!--    Bootstrap    -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

    </head>
    <body>

        <div id="doctor-signup-form">
            <form id="doctor-signup-form">
                <label for="doctor-name"><b>Name</b></label>
                <input type="text" placeholder="First and Last Name" name="doctor-name" required>

                <label for="doctor-gender"><b>Gender</b></label>
                <input type="text" placeholder="Enter your gender" name="doctor-gender" required>

                <label for="doctor-location"><b>Location</b></label>
                <input type="text" placeholder="Enter your location" name="doctor-location" required>
                
                <label for="doctor-email"><b>Email</b></label>
                <input type="text" placeholder="yourmail@example.com" name="doctor-email" required>

                <label for="doctor-website"><b>Plase provide a website for verification</b></label>
                <input type="text" placeholder="www.example.com" name="doctor-website" required>

                <label for="doctor-phone"><b>Enter your phone number:</b></label>
                <input type="tel" name="doctor-phone">

                <label for="doctor-password">Password</label>
                <input type="password" placeholder="********" name="doctor-password" required>

                <button type="submit">Sign Up As a Doctor</button>
            </form>
        </div>

    </body>
</html>