<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Find Out More</title>

        <!--  Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

        <!--    Bootstrap    -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

        <!-- Styles -->
        <link rel="stylesheet" href="style/full_profile_style.css"

    </head>
    <body>
        <%-include("navbar")-%>
        <div id="profile">
            <img src="images/logo.jpeg" alt="Profile picture"/><br/>
            <h2 id="name"><b>Name</b></h2> <br/>

            <p id="email"><b>Email</b></p> <br/>

            <p id="gender"><b>Gender</b></p> <br/>

            <p id="location"><b>Location</b></p> <br/>

            <p id="hospitalName"><b>Hospital</b></p> <br/>

            <p id="phone"><b>Phone number:</b></p> <br/>

            <p id="website"><b>Website</b></p> <br/>
                
            <p id="fee"><b>Consultation fee</b></p> <br/>

            <a href="book.html" style="color: #841934; font-family:'Brittany Signature Regular'">Book an Appointment</a> 
        </div>

    </body>
</html>