<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Log In</title>
        <!--  Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

        <!--    Bootstrap    -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

        <!-- Styles -->
        <link rel="stylesheet" href="style/log_in_style.css"

    </head>
    <body>
        <%-include("navbar")-%>

        <div class="centered-box">
            <form action="http://localhost:3000/auth/user/login" method="POST" id="signup-form">

                <label for="email"><b>Email</b></label> <br/>
                <input type="text" placeholder="yourmail@example.com" name="email" required> <br/>

                <label for="password"><b>Password</b></label> <br/>
                <input type="password" placeholder="********" name="password" required> <br/>

                <button type="submit">Log in</button>
            </form>
        </div>

    </body>
</html>