
<nav id = "navigation" class="col-md-12 nav nav-pills justify-content-center nav-fill sticky-top">
    <a href="/" class="nav-item nav-link menu-item current">Home</a>
    <a href="/find_a_doctor" class="nav-item nav-link menu-item">Find a gynecologist</a>
    <a href="/review" class="nav-item nav-link menu-item">Review</a>
    <a href="/signup" class="nav-item nav-link menu-item">Sign up</a>
    <a href="/resources" class="nav-item nav-link menu-item">Extra resources</a>
    <a href="/report" class="nav-item nav-link menu-item">Report a problem</a>
</nav>