<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Resources</title>
        <link 
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
        rel="stylesheet"  type='text/css'>

        <!--  Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

        <!--    Bootstrap    -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>

                <!-- Styles -->
        <link rel="stylesheet" href="style/resources_style.css"/>

    </head>
    <body>
        <%-include("navbar")-%>

        <div class="half-height title" style="background-image:url(images/background_resources.png);background-size: cover;">
            <h1 id="title">
                Resources
            </h1>
        </div>

        <div id="tags">
            <h2>What do the tags in our website mean?</h2>
            <div class="tag">
                <h3>Treats patient respectfully as autonomous individuals</h3>
                <p>
                    The doctor will treat you as an independent autonomous individual irrespective of your caste, creed, religion, marital status, sexual preferences and choices. <br/>
                    They will look for solutions to your pain and illness without advocating marriage or pregnancy. <br/>
                    They will respectfully and non-judgmentally ask about and accept your sexual activity and history, regardless of marital status. <br/>
                    They will discuss choosing to stay celibate or child-free positively and non-judgementally. <br/>
                </p>
            </div>

            <div class="tag">
                <h3>Trans-friendly</h3>
                <p>
                    The doctor will make trans men, trans women and other people who don't identify as cis female feel welcomed and 
                    discuss gender dysphoria related medical issues positively and non-judgmentally. <br/>
                </p>
            </div>

            <div class="tag">
                <h3>Queer-friendly</h3>
                <p>
                    The doctor will discuss queer sexuality positively and non-judgementally.<br/>
                </p>
            </div>

            <div class="tag">
                <h3>Treats survivors of abuse sensitively and respectfully</h3>
                <p>
                    The doctor will welcome survivors of incest, sexual and domestic abuse, and discuss healing from rape and sexual trauma
                     sensitively and respectfully.<br/>
                </p>
            </div>
            
            <div class="tag">
                <h3>AIDS/Other STDs-friendly</h3>
                <p>
                    TThe doctor will welcome people with AIDS or other sexually transmittable diseases without judgement.<br/>
                </p>
            </div>

            <div class="tag">
                <h3>Body Positive</h3>
                <p>
                    The doctor will examine your body thoroughly and professionally without making you feel ugly, embarrassed, ashamed or uncomfortable.<br/>
                </p>
            </div>

            <div class="tag">
                <h3>Will not demand partner/parent’s consent/approval</h3>
                <p>
                    The doctor will keep your information private, even from your parents or partner and will not demand permission/consent 
                    from parents or partner for conducting medical procedures (for legal adults).<br/>
                </p>
            </div>
        </div>

        <div id="other">
            <h2>External Links</h2>
            <h3><a href="https://www.aoafamily.com/home/news-topic.php?newsid=195" style="text-decoration: none;"> What you should do before going to a gynecologist </a></h3>
            <h3><a href="http://www.glma.org/index.cfm?fuseaction=Page.viewPage&pageId=939&grandparentID=534&parentID=938&nodeID=1" style="text-decoration: none;"> LGBT friendly healthcare providers in the US </a></h3>
            <h3><a href="https://www.vartagensex.org/reachout.php" style="text-decoration: none;"> Medical and legal aid for the LGBTQ community  </a></h3>
        </div>

        <div id="for-doctors">
            <h2>For Doctors</h2>
            <h3><a href="https://www.contemporaryobgyn.net/view/opening-obgyn-door-sexual-and-gender-minority-patients" style="text-decoration: none;"> Opening the ob/gyn door for sexual and gender minority patients  </a></h3>
            <h3><a href="https://www.ama-assn.org/delivering-care/population-care/creating-lgbtq-friendly-practice" style="text-decoration: none;">Creating an LGBTQ-friendly practice	</a></h3>
        </div>

    <div id="instagram">
        <h2>Gynecologists who post healthcare advice:</h2>
            <a href="https://www.instagram.com/dr_cuterus/?hl=en">
                <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            </a>

            <a href="https://www.instagram.com/friendly_neighbourhood_obgyn/?hl=en">
                <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            </a>

            <a href="https://www.instagram.com/doctoryuvi/?hl=en">
                <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    </body>
</html>